#contenidoJuego
  background rgba(0, 0, 1, 0.5)
  width 70%
  margin 3% 15%
  min-height 400px
  float left
  
//fullscreen
  #juego:-webkit-full-screen, -moz-full-screen ,  -ms-fullscreen, fullscreen 
    height 100%
    width 100%
    position absolute
    top 0
    left 0
    overflow auto
    #jugador, #cargando, #partida, #resultado
      float left
      width 80%
      margin 5% 10%
      background rgba(0, 0, 1, 0.5)
    #jugador, #cargando, #partida
      height 80%
    #jugador
      padding 10% 25%
    #cargando 
      padding 20% 25%    
    #resultado
      height auto 
    
//ingreso de nombre jugador
  #jugador
    width 100%
    padding 5% 25%
    float left
    label, input
      width 80%
      margin 2% 10%
      float left
      text-align center
    label 
      color #fff   
      font-size 30px  
    input 
      background transparent
      border 10px double #fff  
      border-radius 50px
      color #000    
      font-size 30px
    input:focus
      outline none
    img
      width 40%
      margin 1% 30%
      border-radius 5px 
      border-top 7px solid blue
      border-left 7px solid orange
      border-right 7px solid red 
      border-bottom 7px solid green
    
    button
      width 50%
      margin 2% 25%
      height 50px
      float left
      text-align center
      background transparent
      color #fff
      background-image url('/images/boton.png')
      background-size 50%
      background-repeat no-repeat
      background-position center
      border none
    
//esperando partida
  #cargando
    label
      width 100%
      text-align center
      color white
      float left
    img
      width 8%
      margin 10% 46%
      float left

//opciones respuesta
  radio-buttons(color, hover)
      width 100%
      height 100%
      float left
      :hover 
        cursor pointer
      input 
        display none

      span 
        width 100% !important
        height 100%
        display block
        background-color transparent
        border 2px solid color 
        border-radius 50px
        padding 2%
        text-align center
        color white           

      span:hover
        border 2px solid hover

      input:checked + span 
        border 2px solid white 
        color black
  #puntajes
    width 100%
    float left
    div
      width 44%
      margin 2% 3%
      span
        color white
        font-size 30px
        margin 1% 2%
      img 
        margin-top -2%
        width 8%
    #jugador1
      float left
    #jugador2
      float right
      text-align right
  #imagenes
    float left
    width 80%
    margin 2% 10%
    background-color white
    border-radius 50px
    border-top 4px solid red
    border-left 4px solid blue
    border-right 4px solid green
    border-bottom 4px solid orange
    div 
      float left
    #gif
      width 25%
      padding 5% 0 3% 10%
      img 
        width 100%
        margin-top 8%
    #imagen 
      width 20%
      margin 2% 15%
      border 4px dashed black
      img
        width 100%
        height 100%
    #tiempo
      width 80px
      height 80px
      border-radius 50%
      background-image url('/images/tiempo.GIF')
      background-repeat no-repeat 
      background-position center
      background-size 100%
      margin-top 8%
      padding 2.5% 0
      float left
      text-align center
      span 
        color black
        width 100%
        font-size 30px      
    
  #pregunta
    width 100%
    float left
    text-align center
    span
      width 100%
      color white
      font-size 20px
  #opciones
    width 80%
    margin 2% 10%
    float left
    div 
      width 40%
      margin 1% 5%
      float left
      label 
        radio-buttons(black, blue)      

//respuesta
  #resultado
    width 80%
    margin 3% 10%
    float left
    #mensaje
      width 100%
      text-align center
      color white 
      float left
      margin 2% 0
      span
        border-bottom 7px double black
        font-size 50px
    #centro
      width 100%
      float left
      div
        width 50%
        padding 3%
        float left
      #izquierda
        img 
          width 100%
          border-radius 50px 
          border-top 7px solid blue
          border-left 7px solid orange
          border-right 7px solid red 
          border-bottom 7px solid green
        #respuestas
          width 100%
          float left
          div 
            width 100%
            margin-top 1% 0
            float left
            label
              radio-buttons(black, black)
      #derecha
        img 
          width 80%
          margin 5% 10%
        div
          width 90%
          float left
          margin 5%
          border-bottom 5px dashed black
          text-align center
          span 
            color white
            font-size 20px
          img 
            width 8%
    #boton
      width 100%
      float left
      margin 3% 0
      text-align center      
      button 
        width 50%
        margin 2% 25%
        height 100px
        float left
        text-align center
        background transparent
        color #fff
        background-image url('/images/boton.png')
        background-size 50%
        background-repeat no-repeat
        background-position center
        border none