doctype html
html
  head
    meta(charset="utf-8")
    title=JuguemosConLasSenas
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/js/script.js') 
  body
    #logo
      a(href="/")
        img(src="/images/logo.png")
    a(href="/")
      #titulo
        h1 JUGUEMOS CON LAS SEÑAS
    #menu 
      ul
        li 
          a(href="/quienesSomos") 
            b Quiénes Somos
        li 
          a(href="/practiquemos") 
            b Practiquemos
        li 
          a(href="/juguemos") 
            b Juguemos 
        li 
          a(href="/contactanos") 
            b Contáctanos 
    #contenido
      block content
    #piePagina
      #escudo
        img(src="/images/escudo.png")
      #creditos
        p Universidad Distrital Francisco José de Caldas - Ingeniería de Sistemas - Grupo de Investigación VIRTUS
        p Viviana Cadena Díaz - Arley Carantón Galeano - Andres Camilo Santana / Director: Fernando Martínez Rodríguez
