@font-face
  font-family "SpeedballNo2NF-Bold"
  src url("/fonts/SpeedballNo2NF-Bold.ttf") format("truetype")
@font-face
  font-family "SaginawBold"
  src url("/fonts/SaginawBold.ttf") format("truetype")
@font-face
  font-family "Trading-Post-Bold"
  src url("/fonts/Trading-Post-Bold.ttf") format("truetype")
@font-face
  font-family "WorstveldSlingBoldOblique"
  src url("/fonts/WorstveldSlingBoldOblique.ttf") format("truetype")
@font-face
  font-family "Easy-Street-EPS-Bold"
  src url("/fonts/Easy-Street-EPS-Bold.ttf") format("truetype")
@font-face
  font-family "zealotli"
  src url("/fonts/zealotli.ttf") format("truetype")
@font-face
  font-family "CalamityJaneNF-Bold"
  src url("/fonts/CalamityJaneNF-Bold.ttf") format("truetype")

body
  overflow-x hidden

#logo
  float left
  width 20%
  margin 3% 7% 2% 7%
  img 
    width 100%
    height 100%
#titulo
  float left
  width 50%
  margin 1% 2% 2% 2%
  h1 
    text-align center
    font oblique bold 380% SpeedballNo2NF-Bold
    p.abajo
      margin-top 1%
    .stroke 
      font-size 150%
      letter-spacing 0
      text-shadow -4px -4px 4px #fff, 4px -4px 4px #fff, -4px 4px 4px #fff, 4px 4px 4px #fff
    .naranja
      color #f6a800
    .rojo
      color #f41313
    .verde
      color #97be0d
    .rosado
      color #ef8f9b
    .azul
      color #009cd1
    .verdeO 
      color #367c2a
    .fuccia
      color #e2004f
#menu
  background rgba(0, 0, 1, 0.5)
  width 24%
  margin 0 3% 1% 3%
  padding 1%
  float left
  
  ul 
    width 100%
    li.izquierda
      text-align left
    li.derecha
      text-align right
    li.linea
      border-bottom 1px solid white
    li
      height 30px
      width 80%
      padding 1%
      list-style none
      a:hover 
        text-decoration none
        color black
      a
        width 100%
        color white
        b 
          text-align center
          font-family SaginawBold
          font-size 20px
  ul.submenuGuia
    margin-left -16%
    list-style none
    b.titulo 
      color black
      font-family CalamityJaneNF-Bold
      font-size 25px
    li.hombre
      height 170px
    li.sociedad
      height 230px
    li.entornoNatural
      height 140px
      width 200px !important
    li.ancho
      width 200px !important
      list-style-type initial
      color black
    li 
      list-style none
      a:hover 
        text-decoration none
        color white
      a
        width 100%
        color black
        b 
          text-align center
          font-family CalamityJaneNF-Bold
          font-size 25px
          width 100%
          
#novedades
  background rgba(0, 0, 1, 0.5)
  width 24%
  margin 1% 3% 4% 3%
  padding 1%
  position relative
  float left
  
  img
    width 100%
    
  p#fecha
    color black
    text-align center
    width 100%
  
  p#noticia
    width 100%
    text-align center
    color white
    font-family WorstveldSlingBoldOblique
    font-size 20px

#contenido
  background rgba(0, 0, 1, 0.5)
  width 60%
  margin 0 5%
  min-height 400px
  float right
  
  h1 
    width 100%
    text-align center
    color white
    font-family zealotli
    font-size 50px
  #home
    margin 5%
    width 100%
  
  #informate
    margin 5%
    div 
      h2
        width 100%
        color black
        font-family Easy-Street-EPS-Bold
        font-size 50px
      p 
        width 100%
        color white
        text-align justify
        font-family CalamityJaneNF-Bold 
        font-size 25px
      img 
        width 50%
        margin 2% 25%
  
#redesSociales
  width 100%
  float left
  margin -1% 30%
  div 
    margin 3% 5%
  a.facebook
    .icon 
      float left  
      width 50px
      height 50px 
      background-size 100%
      background-image url("/images/facebookBlanco.png") 
      background-repeat no-repeat
    .icon:hover 
      cursor pointer
      background-image url("/images/facebookNegro.png")  
  a.twitter
    .icon 
      float left
      height 50px   
      width 50px 
      background-size 100%
      background-image url("/images/twitterBlanco.png") 
      background-repeat no-repeat
    .icon:hover 
      cursor pointer
      background-image url("/images/twitterNegro.png")  
  a.google
    .icon 
      float left
      height 50px   
      width 50px 
      background-size 100%
      background-image url("/images/googleBlanco.png") 
      background-repeat no-repeat
    .icon:hover 
      cursor pointer
      background-image url("/images/googleNegro.png")  

#flecha
  width 100%
  float left
  a#inicioPagina
    margin 0
    img 
      margin -10% 2% 0 2%

  
#piePagina
  float left
  width 100%
  background rgba(0, 0, 1, 0.5)
  #escudo
    margin 1% 1% 1% 20%
    width 5%
    float left
    img
      width 100%
  #creditos
    margin 2% 1% 1% 1%
    width 60%
    float left
    p 
      color white
      font bold 100% cursive
      text-align center
      font-family Trading-Post-Bold

#juega
  background rgba(0, 0, 1, 0.5)
  width 94%
  margin 0 3% 1% 3%
  padding 1%
  float left
  min-height 500px
  
#atras
  width 6%
  margin 1% 47%
  img 
    width 100%

@media (max-width:800px)
  #logo
    width 96%
    img
      width 30%
      margin 3% 25% -3% 25%
  #titulo
    width 96%
    .stroke 
      font-size 70% !important
  #menu
    width 96%
  #contenido
    width 96%
    float left
    margin 4% 3%
    min-height 200px !important
    
    h1
      font-size 30px
    
    #home
      iframe
        height 200px !important

    #informate
      iframe
        height 200px !important

  #novedades
    width 96%
  
  #flecha
    a#inicioPagina
      img 
        margin 1% 

  #escudo
    width 100% !important
    img 
      display none
  #creditos
    width 100% !important
  #redesSociales
    margin auto !important
  #atras
    width 10%
    margin 1% 0 !important