/*Fuentes*/  
  @font-face
    font-family "SpeedballNo2NF-Bold"
    src url("/fonts/SpeedballNo2NF-Bold.ttf") format("truetype")
  @font-face
    font-family "SaginawBold"
    src url("/fonts/SaginawBold.ttf") format("truetype")
  @font-face
    font-family "Trading-Post-Bold"
    src url("/fonts/Trading-Post-Bold.ttf") format("truetype")
  @font-face
    font-family "WorstveldSlingBoldOblique"
    src url("/fonts/WorstveldSlingBoldOblique.ttf") format("truetype")
  @font-face
    font-family "Easy-Street-EPS-Bold"
    src url("/fonts/Easy-Street-EPS-Bold.ttf") format("truetype")
  @font-face
    font-family "zealotli"
    src url("/fonts/zealotli.ttf") format("truetype")
  @font-face
    font-family "CalamityJaneNF-Bold"
    src url("/fonts/CalamityJaneNF-Bold.ttf") format("truetype")
    
/*Mixins*/
  buton-image(url,urlHover)
    .icon 
      float left  
      width 50px
      height 50px 
      background-size 100%
      background-image url(url) 
      background-repeat no-repeat
    .icon:hover 
      cursor pointer
      background-image url(urlHover)      

body
  overflow-x hidden

#logo
  float left
  width 20%
  margin 3% 7% 2% 7%
  img 
    width 100%
    height 100%
#titulo
  float left
  width 50%
  margin 1% 2% 2% 2%
  h1 
    text-align center
    font oblique bold 380% SpeedballNo2NF-Bold
    p.abajo
      margin-top 1%
    .stroke 
      font-size 150%
      letter-spacing 0
      text-shadow -4px -4px 4px #fff, 4px -4px 4px #fff, -4px 4px 4px #fff, 4px 4px 4px #fff
    .naranja
      color #f6a800
    .rojo
      color #f41313
    .verde
      color #97be0d
    .rosado
      color #ef8f9b
    .azul
      color #009cd1
    .verdeO 
      color #367c2a
    .fuccia
      color #e2004f
#menu
  background rgba(0, 0, 1, 0.5)
  width 24%
  margin 0 3% 1% 3%
  padding 1%
  float left
  
  ul 
    width 100%
    li.izquierda
      text-align left
    li.derecha
      text-align right
    li.linea
      border-bottom 1px solid white
    li
      height 50px
      width 80%
      padding 1%
      list-style none
      a:hover 
        text-decoration none
        color black
      a
        width 100%
        color white
        b 
          text-align center
          font-family SaginawBold
          font-size 25px
   
#novedades
  background rgba(0, 0, 1, 0.5)
  width 24%
  margin 1% 3% 4% 3%
  padding 1%
  position relative
  float left
  
  img
    width 100%
    
  p#fecha
    color black
    text-align center
    width 100%
  
  p#noticia
    width 100%
    text-align center
    color white
    font-family WorstveldSlingBoldOblique
    font-size 20px

#contenido
  background rgba(0, 0, 1, 0.5)
  width 60%
  margin 0 5%
  min-height 400px
  float right
  
  h1 
    width 100%
    text-align center
    color white
    font-family zealotli
    font-size 50px
  #home
    margin 5%
    width 100%
  
  #informate
    margin 5%
    div 
      h2
        width 100%
        color black
        font-family Easy-Street-EPS-Bold
        font-size 50px
      p 
        width 100%
        color white
        text-align justify
        font-family CalamityJaneNF-Bold 
        font-size 25px
      span.referencia
        text-decoration underline
      img 
        width 50%
        margin 2% 25%
  
#redesSociales
  width 100%
  float left
  margin -1% 30%
  div 
    margin 3% 5%
  a.facebook
    buton-image("/images/facebookBlanco.png","/images/facebookNegro.png")
  a.twitter
    buton-image("/images/twitterBlanco.png","/images/twitterNegro.png")
  a.google
    buton-image("/images/googleBlanco.png","/images/googleNegro.png")

#flecha
  width 100%
  float left
  a#inicioPagina
    .icon
      margin -5% 0 0 5%
    buton-image("/images/flechaNegra.png","/images/flechaBlanca.png")

  
#piePagina
  float left
  width 100%
  background rgba(0, 0, 1, 0.5)
  #escudo
    margin 1% 1% 1% 20%
    width 5%
    float left
    img
      width 100%
  #creditos
    margin 2% 1% 1% 1%
    width 60%
    float left
    p 
      color white
      font bold 100% cursive
      text-align center
      font-family Trading-Post-Bold

#contacto
  margin 3%
  img 
    width 20%
    margin 2% 40%
  p 
    color white
    text-align center
    font-family CalamityJaneNF-Bold 
    font-size 35px
  #formulario
    padding-top 5%
    width 50%
    margin auto
    input::-webkit-input-placeholder
      color #fff
    input:-moz-placeholder 
      color #fff
    input::-moz-placeholder 
      color #fff
    input:-ms-input-placeholder 
      color #fff
    input
      width 70%
      margin 2% 15%
      height 30px
      border-left none
      border-top none
      border-right none
      border-bottom 3px solid #f44336
      text-align center
      background none
    textarea
      width 70%
      margin 2% 15%
      border 3px solid #f44336
      text-align center
    textarea::-webkit-input-placeholder
      color #fff
    textarea:-moz-placeholder 
      color #fff
    textarea::-moz-placeholder 
      color #fff
    textarea:-ms-input-placeholder 
      color #fff
    button
      width 70%
      margin 2% 15%
      border 1.8px solid #f44336
      text-align center
      color white
      background-color #f44336
      height 25px
      padding-top 3px

#juega
  background rgba(0, 0, 1, 0.5)
  width 94%
  margin 0 3% 1% 3%
  padding 1%
  float left
  min-height 500px
  
#atras
  width 6%
  margin 1% 47%  
  .icon
    margin-top 3%
    margin-bottom 20%
  buton-image("/images/homeNegro.png","/images/homeBlanco.png")

//aprende
.flechaAtras
  width 10%
  margin 2% 45%
  a
    buton-image("/images/atras.png","/images/atrasHover.png")
#subAprende
  width 100%
  padding 3%
  text-align center
  float left
  font-family Easy-Street-EPS-Bold
  font-size 50px
  color black

#imgAprende
  width 30%
  margin -6% 35% 0 35%

#aprende
  width 90%
  margin 4% 5%
  div.espacio
    margin-top 3.5%
  div
    width 33%
    float left  
    margin-bottom 3%
    a 
      width 100%
      text-align center
      float left
      margin 3% 0
      font-family WorstveldSlingBoldOblique
      font-size 30px
   
    a.white 
      color white
    a.black 
      color black

#serHumano
  .enlaces
    width 90%
    margin 5%
    a 
      width 25%
      img 
        width 25%
        padding 2% 5%

#alfabeto
  width 90%
  margin 2% 6%
  text-align center
  img
    padding 2%
  img#nombre
    width 25%

#inteligencia
  .enlaces
    width 90%
    margin 5%
    a 
      width 25%
      img 
        width 25%
        padding 2% 5%

#caracteristicasSentimientos
  .enlaces
    width 90%
    margin 5% 25%
    a 
      width 50%
      img 
        width 30%
        padding 2% 5%     

#familiaRelaciones 
  .enlaces
    width 90%
    margin 5% 25%
    a 
      width 50%
      img 
        width 30%
        padding 2% 5%  

#actividades
  .enlaces
    width 90%
    margin 5% 15%
    a 
      width 50%
      float left
      img 
        width 50%
        padding 2% 5%  

#entornoNatural
  .enlaces
    width 90%
    margin 5% 15%
    a 
      width 50%
      float left
      img 
        width 50%
        padding 2% 5% 

#entornoUrbano
  .enlaces
    width 90%
    margin 5% 15%
    a 
      width 50%
      float left
      img 
        width 50%
        padding 2% 5% 

@media (max-width:800px)
  #logo
    width 96%
    img
      width 30%
      margin 3% 25% -3% 25%
  #titulo
    width 96%
    .stroke 
      font-size 70% !important
  #menu
    width 96%
  #contenido
    width 96%
    float left
    margin 4% 3%
    min-height 200px !important
    
    h1
      font-size 30px
    
    #home
      iframe
        height 200px !important

    #informate
      iframe
        height 200px !important

  #novedades
    width 96%
  
  #flecha
    a#inicioPagina
      .icon
        float right

  #escudo
    width 100% !important
    img 
      display none
  #creditos
    width 100% !important
  #redesSociales
    margin auto !important
  #atras
    width 10%
    margin 1% 0 !important
  
  #alfabeto
    img#lista
      width 100%