extends ../../../views/layout
block content
  h1 Actividades
  #actividades.cambioImagen 
    .enlaces
      a#accionesDistracciones(href="javascript:void(0);")
        img(src="/images/aprende/actividades/accionesDistracciones.png" title="Acciones y Distracciones")
      a#deportes(href="javascript:void(0);")
        img(src="/images/aprende/actividades/deportes.png" title="Deportes")
      a#musica(href="javascript:void(0);")
        img(src="/images/aprende/actividades/musica.png" title="Música")
      a#profesionesOficios(href="javascript:void(0);")
        img(src="/images/aprende/actividades/profesionesOficios.png" title="Profesiones y Oficios")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon