extends ../../../views/layout
block content
  h1 Actividades
  #actividades.cambioImagen.cuatro     
    .enlaces
      a#accionesDistracciones(href="/actividades/accionesDistracciones")
        img(src="/images/aprende/actividades/accionesDistracciones.png" title="Acciones y Distracciones")
      a#deportes(href="/actividades/deportes")
        img(src="/images/aprende/actividades/deportes.png" title="Deportes")
      a#musica(href="/actividades/musica")
        img(src="/images/aprende/actividades/musica.png" title="Música")
      a#profesionesOficios(href="/actividades/profesionesOficios")
        img(src="/images/aprende/actividades/profesionesOficios.png" title="Profesiones y Oficios")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon