extends ../../../views/layout
block content
  h1 Características y Sentimientos
  #caracteristicasSentimientos.cambioImagen.dos 
    .enlaces
      a#caracteristicas(href="/caracteristicasSentimientos/caracteristicas")
        img(src="/images/aprende/caracteristicasSentimientos/caracteristicas.png" title="Características")
      a#sentimientos(href="/caracteristicasSentimientos/sentimientos")
        img(src="/images/aprende/caracteristicasSentimientos/sentimientos.png" title="Sentimientos")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon