extends ../../../views/layout
block content
  h1 Características y Sentimientos
  #caracteristicasSentimientos.cambioImagen 
    .enlaces
      a#caracteristicas(href="javascript:void(0);")
        img(src="/images/aprende/caracteristicasSentimientos/caracteristicas.png" title="Características")
      a#sentimientos(href="javascript:void(0);")
        img(src="/images/aprende/caracteristicasSentimientos/sentimientos.png" title="Sentimientos")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon