extends ../../../views/layout
block content
  h1 Entorno Urbano
  #entornoUrbano.cambioImagen.cuatro 
    .enlaces
      a#ciudad(href="/entornoUrbano/ciudad")
        img(src="/images/aprende/entornoUrbano/ciudad.png" title="Ciudad")
      a#hogarVivienda(href="/entornoUrbano/hogarVivienda")
        img(src="/images/aprende/entornoUrbano/hogarVivienda.png" title="Hogar / Vivienda")
      a#tecnologia(href="/entornoUrbano/tecnologia")
        img(src="/images/aprende/entornoUrbano/tecnologia.png" title="Tecnología")
      a#transporte(href="/entornoUrbano/transporte")
        img(src="/images/aprende/entornoUrbano/transporte.png" title="Transporte")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon