extends ../../../views/layout
block content
  h1 Entorno Natural
  #entornoNatural.cambioImagen 
    .enlaces
      a#animales(href="javascript:void(0);")
        img(src="/images/aprende/entornoNatural/animales.png" title="Animales")
      a#cualidadesObjetos(href="javascript:void(0);")
        img(src="/images/aprende/entornoNatural/cualidadesObjetos.png" title="Cualidades de Objetos")
      a#geografia(href="javascript:void(0);")
        img(src="/images/aprende/entornoNatural/geografia.png" title="Geografía")
      a#naturaleza(href="javascript:void(0);")
        img(src="/images/aprende/entornoNatural/naturaleza.png" title="Naturaleza")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon