extends ../../../views/layout
block content
  h1 Entorno Natural
  #entornoNatural.cambioImagen.cuatro 
    .enlaces
      a#animales(href="/entornoNatural/animales")
        img(src="/images/aprende/entornoNatural/animales.png" title="Animales")
      a#cualidadesObjetos(href="/entornoNatural/cualidadesObjetos")
        img(src="/images/aprende/entornoNatural/cualidadesObjetos.png" title="Cualidades de Objetos")
      a#geografia(href="/entornoNatural/geografia")
        img(src="/images/aprende/entornoNatural/geografia.png" title="Geografía")
      a#naturaleza(href="/entornoNatural/naturaleza")
        img(src="/images/aprende/entornoNatural/naturaleza.png" title="Naturaleza")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon