extends ../../../views/layout
block content
  h1 Familia y Relaciones Personales
  #familiaRelaciones.cambioImagen 
    .enlaces
      a#familia(href="javascript:void(0);")
        img(src="/images/aprende/familiaRelaciones/familia.png" title="Familia")
      a#relaciones(href="javascript:void(0);")
        img(src="/images/aprende/familiaRelaciones/relacionesPersonales.png" title="Relaciones Personales")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon