extends ../../../views/layout
block content
  h1 Familia y Relaciones Personales
  #familiaRelaciones.cambioImagen.dos 
    .enlaces
      a#familia(href="/familiaRelaciones/familia")
        img(src="/images/aprende/familiaRelaciones/familia.png" title="Familia")
      a#relaciones(href="/familiaRelaciones/relacionesPersonales")
        img(src="/images/aprende/familiaRelaciones/relacionesPersonales.png" title="Relaciones Personales")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon