extends ../../../views/layout
block head
  script(type='text/javascript' src='/js/magnifier.js')
block content
  h3.recomendacion Recomendaci칩n:
  p.mensaje A continuaci칩n encontraras palabras asociadas a su respectiva se침a; te recomendamos que intentes decucirla antes de continuar con la siguiente im치gen.
  p.mensaje Para continuar haz click en la estrella.
  .imagen
    img#frutasVerduras.magniflier(src="/images/aprende/frutasVerduras/presentacion/Diapositiva1.PNG" numero="21")
      
  .flechaAtras
    a(title="Atras")
      .icon
  .estrella
    #frutasVerduras.icon