extends ../../../views/layout
block content
  h1 Instituciones Sociales
  #institucionesSociales.cambioImagen.cinco
    .enlaces
      a#administracionGobiernoComercio(href="/institucionesSociales/administracionGobiernoComercio")
        img(src="/images/aprende/institucionesSociales/administracionGobiernoComercio.png" title="Administración, Gobierno y Comercio")
      a#entornoEducativo(href="/institucionesSociales/entornoEducativo")
        img(src="/images/aprende/institucionesSociales/entornoEducativo.png" title="Entorno Educativo")
      a#religion(href="/institucionesSociales/religion")
        img(src="/images/aprende/institucionesSociales/religion.png" title="Religión")
      a#sancionesSocialesVicios(href="/institucionesSociales/sancionesSocialesVicios")
        img(src="/images/aprende/institucionesSociales/sancionesSocialesVicios.png" title="Sanciones Sociales / Vicios")
      a#utilesEscolares(href="/institucionesSociales/utilesEscolares")
        img(src="/images/aprende/institucionesSociales/utilesEscolares.png" title="Útiles Escolares")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon