extends ../../../views/layout
block content
  h1 Inteligencia
  #inteligencia.cambioImagen.ocho 
    .enlaces
      a#diasSemana(href="/inteligencia/diasSemana")
        img(src="/images/aprende/inteligencia/diasSemana.png" title="Días de la Semana")
      a#espacio(href="/inteligencia/espacio")
        img(src="/images/aprende/inteligencia/espacio.png" title="Espacio / Ubicación")
      a#expresionesCantidad(href="/inteligencia/expresionesCantidad")
        img(src="/images/aprende/inteligencia/expresionesCantidad.png" title="Expresiones y Cantidad")
      a#expresionesTiempo(href="/inteligencia/expresionesTiempo")
        img(src="/images/aprende/inteligencia/expresionesTiempo.png" title="Expresiones de Tiempo")
      a#inteligencia(href="/inteligencia/inteligencia")
        img(src="/images/aprende/inteligencia/inteligencia.png" title="Inteligencia")
      a#meses(href="/inteligencia/meses")
        img(src="/images/aprende/inteligencia/mesesAño.png" title="Meses del Año")
      a#numeros(href="/inteligencia/numeros")
        img(src="/images/aprende/inteligencia/numeros.png" title="Números")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon