extends ../../../views/layout
block content
  h1 Lenguaje y Comunicación
  #lenguajeComunicacion.cambioImagen.cinco
    .enlaces
      a#calificar(href="/lenguajeComunicacion/calificar")
        img(src="/images/aprende/lenguajeComunicacion/calificar.png" title="Calificar")
      a#comunicacionAfines(href="/lenguajeComunicacion/comunicacionAfines")
        img(src="/images/aprende/lenguajeComunicacion/comunicacionAfines.png" title="Comunicación y Afines")
      a#culturaSorda(href="/lenguajeComunicacion/culturaSorda")
        img(src="/images/aprende/lenguajeComunicacion/culturaSorda.png" title="Cultura Sorda")
      a#formulasCortesia(href="/lenguajeComunicacion/formulasCortesia")
        img(src="/images/aprende/lenguajeComunicacion/formulasCortesia.png" title="Formulas de Cortesia")
      a#interrogar(href="/lenguajeComunicacion/interrogar")
        img(src="/images/aprende/lenguajeComunicacion/interrogar.png" title="Interrogar")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon