extends ../../../views/layout
block content
  h1 Ser Humano
  #serHumano.cambioImagen
    .enlaces
      a#serHumano(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/serHumano.png" title="Ser Humano")
      a#cuerpoHumano(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/cuerpoHumano.png" title="Cuerpo Humano")
      a#fisiologia(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/fisiologia.png" title="Fisiología")
      a#frutasVerduras(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/frutasVerduras.png" title="Frutas y Verduras")
      a#comidasBebidas(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/comidasBebidas.png" title="Comidas, Bebidas y afines")
      a#vestuario(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/vestuario.png" title="Vestuario")
      a#aseoPersonal(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/aseoPersonal.png" title="Aseo Personal")
      a#salud(href="javascript:void(0);")
        img(src="/images/aprende/serHumano/salud.png" title="Salud")
  .flechaAtras
    a(href="/aprende" title="Atras")
      .icon