extends ../../../../views/layout
block content
  h3.recomendacion Recomendación:
  p.mensaje A continuación encontraras palabras asociadas a su respectiva seña; te recomendamos que intentes decucirla antes de continuar con la siguiente imágen.
  p.mensaje Para continuar haz click en la imágen.
  .imagen
    img(src="" numero="")
      
  .flechaAtras
    a(title="Atras")
      .icon