extends ../../../views/layout
block head
  link(rel='stylesheet', href='/juego/styleJuego.css')
block content
  
  #juego
    #jugador
      img(src="/images/jugar.png")
      label NOMBRE DEL JUGADOR
      input#nombreJugador(type="text" autofocus)
      button#botonJugador(type="button" disabled) JUGAR
    #cargando(style="display:none;")
      img(src='/images/cargando.GIF')
      label#mensaje
    #partida(style="display:none;")
      span PARTIDA
  script(type='text/javascript', src='/js/socket.io-1.1.0.js')
  script(type='text/javascript' src='/juego/script-juego.js')