extends ../../../views/layoutJuego
block head
  link(rel='stylesheet', href='/juego/styleJuego.css')
block content
  
  #juego
    #jugador
      img(src="/images/jugar.png" title="Jugar")
      label NOMBRE DEL JUGADOR
      input#nombreJugador(type="text" autofocus)
      button#botonJugador(type="button" disabled) JUGAR
    #cargando(style="display:none;")
      img(src='/images/cargando.GIF')
      label#mensaje
    #partida(style="display:none;")
      #puntajes
        #jugador1
          span#nombre1
          img(src="/images/moneda.GIF")
          span#puntaje1 0
        #jugador2
          span#nombre2
          img(src="/images/moneda.GIF")
          span#puntaje2 0

      #imagenes
        #gif
          img(src='/images/esperando.gif')
        #imagen
          img#imagenPregunta
        #tiempo
          span
      #pregunta
        span ¿QUE SIGNIFICA LA SEÑA?
      #opciones
        #opcion1
          label.opcion
            input#check1(type="checkbox" value="1" name="respuesta")
            span
        #opcion2
          label.opcion
            input#check2(type="checkbox" value="2" name="respuesta")
            span
        #opcion3
          label.opcion
            input#check3(type="checkbox" value="3" name="respuesta")
            span
        #opcion4
          label.opcion
            input#check4(type="checkbox" value="4" name="respuesta")
            span
    #resultado(style="display:none;")
      #mensaje
        span ¡RESPUESTA CORRECTA!
      #centro
        #izquierda
          img(src="/images/aprende/vestuario/pijama.png")
          #respuestas
            #rta1
              label.opcion
                input(type="checkbox" disabled)
                span Dormir
            #rta2
              label.opcion
                input(type="checkbox" disabled)
                span Pijama
            #rta3
              label.opcion
                input(type="checkbox" disabled)
                span Saco
            #rta4
              label.opcion
                input(type="checkbox" disabled)
                span Sueño
        #derecha
          #jugador1
            span#nombre1 Jugador 1
            img(src="/images/moneda.GIF")
            span#puntaje1 20
          #jugador2
            span#nombre2 Jugador 2
            img(src="/images/moneda.GIF")
            span#puntaje2 0
          img#reaccion(src="/images/bien.gif")
      #boton
        button(type="button") SIGUIENTE PREGUNTA

  script(type='text/javascript', src='/js/socket.io-1.1.0.js')
  script(type='text/javascript' src='/juego/script-juego.js')