extends ../../../views/layoutJuego
block head
  link(rel='stylesheet', href='/juego/styleJuego.css')
block content  
  #juego
  script(type='text/javascript', src='/js/socket.io-1.1.0.js')
  script(type='text/javascript' src='/juego/script-juego.js')