extends ../../../views/layout
block content
  h1 Aprende 
  h3#subAprende ¡Selecciona un tema!
  img#imgAprende(src="/images/seleccionar.png" title="Tomado de http://www.mercadofitness.com/")
  #aprende
    div.espacio 
      a.white(href="/aprende/alfabeto")
        b Alfabeto
      a.black(href="/aprende/serHumano")
        b Ser Humano
      a.white(href="/aprende/inteligencia")
        b Inteligencia
    div 
      a.black(href="/aprende/caracteristicasSentimientos")
        b Características y Sentimientos
      a.white(href="/aprende/familiaRelaciones")
        b Familia y Relaciones
      a.black(href="/aprende/actividades")
        b Actividades
      a.white(href="/aprende/entornoNatural")
        b Entorno Natural
    div.espacio 
      a.white(href="/aprende/entornoUrbano")
        b Entorno Urbano
      a.black(href="/aprende/institucionesSociales")
        b Instituciones Sociales 
      a.white(href="/aprende/lenguajeComunicacion")
        b Lenguaje y Comunicación      