extends ../../../views/layout
block content
  h1 APRENDE
  #aprende.cambioImagen.ocho
    a#alfabeto(href="/aprende/alfabeto") ALFABETO
    .enlaces
      a#serHumano(href="/aprende/serHumano")
        img(src="/images/aprende/serHumano.png" title="Ser Humano")
      a#cuerpoHumano(href="/aprende/cuerpoHumano")
        img(src="/images/aprende/cuerpoHumano.png" title="Cuerpo Humano")
      a#fisiologia(href="/aprende/fisiologia")
        img(src="/images/aprende/fisiologia.png" title="Fisiología")
      a#frutasVerduras(href="/aprende/frutasVerduras")
        img(src="/images/aprende/frutasVerduras.png" title="Frutas y Verduras")
      a#comidasBebidas(href="/aprende/comidasBebidas")
        img(src="/images/aprende/comidasBebidas.png" title="Comidas, Bebidas y afines")
      a#vestuario(href="/aprende/vestuario")
        img(src="/images/aprende/vestuario.png" title="Vestuario")
      a#aseoPersonal(href="/aprende/aseoPersonal")
        img(src="/images/aprende/aseoPersonal.png" title="Aseo Personal")
      a#salud(href="/aprende/salud")
        img(src="/images/aprende/salud.png" title="Salud")