extends ../../../views/layout
block content
  #home
    iframe(width="90%" height="450" src="//www.youtube-nocookie.com/embed/Qf2DnwHhOWU?autoplay=1&?fs=1&hd=1&rel=0&showsearch=0&showinfo=0&iv_load_policy=3&loop=1&theme=light&modestbranding=1&autohide=1&hl=es&cc_lang_pref=es&cc_load_policy=1&" allowfullscreen frameborder="0")