extends ../../../views/layout
block content
  #informate
    h1 ¡INFÓRMATE!
    div
      h2 ¿Quiénes Somos?
      img(src="/images/quienesSomos.png" title="Tomado de: 'http://sointecdecostarica.com/images/'")
      p Somos estudiantes de último semestre de Ingeniería de Sistemas de la Universidad Distrital Francisco José de Caldas, realizamos este proyecto como parte del grupo de investigación VIRTUS, nuestro objetivo principal es mostrar que todos podemos ser iguales mediante el aprendizaje del lenguaje de señas por parte de la población oyente; queremos demostrar que éste lenguaje es tan importante de aprender como el ingles para todos los profesionales.
      p Sabemos que el aprendizaje no siempre es fácil, pero ¿A quién no le gusta jugar? y es mediante este proyecto que queremos hacer divertido el aprendizaje del lenguaje de señas. Y es por esto que buscamos la respuesta a la siguiente pregunta:
      p ¿Cómo enseñar a la población no sorda el lenguaje de señas de manera lúdica, sin recurrir a técnicas aburridas que eviten la deserción en el proceso de dicho aprendizaje?
    div 
      h2 ¿Qué método usamos?
      img(src="/images/gamificacion.png")  
      p Gamificación (gamification en el ámbito anglosajón) es el empleo de mecánicas de juego en entornos y aplicaciones no lúdicas con el fin de potenciar la motivación, la concentración, el esfuerzo, la fidelización y otros valores positivos comunes a todos los juegos. Se trata de una nueva y poderosa estrategia para influir y motivar a grupos de personas.
      p La eclosión de la web 2.0 ha acelerado la creación de comunidades en torno a todo tipo de redes sociales, medios digitales o webs corporativas. Pero no siempre es fácil estimular la actividad dinámica y frecuente entre los miembros de una comunidad.
      img(src="/images/gamificacion2.png" title="Tomado de: 'http://www.centrodeinnovacionbbva.com/noticias/contando-la-experiencia-de-la-gamificacion-en-primera-persona-cuatro-anos-trabajando-con'") 
      p Una correcta implementación de estrategias de gamificación permite pasar de la mera conectividad al engagement (o compromiso), logrando que los miembros de una comunidad, los trabajadores de una empresa, los estudiantes de un instituto, los habitantes de una ciudad -prácticamente cualquier colectivo o individuo- participen de manera dinámica y proactiva en acciones que generalmente requieren un esfuerzo de la voluntad.
      p La integración de dinámicas de juego en entornos no lúdicos no es un fenómeno nuevo, pero el crecimiento exponencial del uso de videojuegos en los últimos años ha despertado el interés de expertos en comunicación, psicología, educación, salud, productividad -y casi cualquier área de actividad humana- por descifrar las claves que hacen del videojuego un medio tan eficaz. En estos últimos años ha comenzado también la expansión en el  estudio de su aplicación a otros ámbitos no necesariamente lúdicos. Gamificación es el término escogido para definir esta tendencia.
      p 
        b Tomado de: 
        span.referencia http://www.gamificacion.com/que-es-la-gamificacion
      iframe(width="100%" height="400" src="//www.youtube-nocookie.com/embed/LfS8xai2u1Q?fs=1&hd=1&rel=0&showsearch=0&iv_load_policy=3&loop=1&theme=light&modestbranding=1&autohide=1" allowfullscreen frameborder="0")