extends ../../../views/layout
block content
  h1 Alfabeto Manual
  #alfabeto 
    img#nombre(src="/images/aprende/alfabeto/alfabeto.png" title="Alfabeto Manual")
    img#lista(src="/images/aprende/alfabeto/listaAlfabeto.png")